<div class="myTitle">
    <h1 class="brand">Welcome</h1>
    <h2 class="signIn">Sign In</h2>
</div>
<div class="emailExist">
    <h6>Please provide your password</h6>
    <div class="emailDetail" (click)="onChooseAnother()">
        <div class="image">
            <i class="fa fa-user"></i>
        </div>
        <div class="emailContent">
            {{emailFilled}}
        </div>
        <div class="iconAngel">
            <i class="fa fa-angle-down"></i>
        </div>
    </div>
</div>

<div class="inputField">
    <form #formPassword="ngForm" (ngSubmit)="onFillPassword(formPassword)">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <label for="password" class="mdl-textfield__label">Password</label>
            <input type="password" class="mdl-textfield__input" name="password" ngModel/>
        </div>
        <div class="formButton">
            <a href="#" class="forgot">Forgot Password?</a>
            
            <button type = "submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                Next
            </button>
        </div>
    </form>
</div>