/* Title */
.myTitle{
    text-align: center;
    margin-bottom: 20px;
}

.myTitle .brand{
    font-size: 25px;
    margin: 0 0 5px;
}
.myTitle .signIn{
    font-size: 20px;
    margin: 0;
}
/* EmailExist */
.emailExist{
    text-align: center;
}
.emailExist .emailDetail{
    max-width: fit-content;
    display: flex;
    margin: 0 auto;
    border: 1px solid #d8d8d8;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    padding: 5px;
    align-items: center;
}
.emailDetail .image{
    border: 1px solid #d8d8d8;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 5px;
}
.emailDetail .image i{
    line-height: 23px;
}
.emailDetail .emailContent, .emailDetail .iconAngel{
    font-weight: bold;
    color: #57595aa8;
    margin-right: 10px;
}
.emailDetail .emailContent{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-height: 21px;
    height: 21px;
}
/* Input */
.underline{
    width: 100%;
    height: 1px;
    background-color: #d8d8d8;
}
.inputField{
    width: 100%;
    padding: 16px 0;
}
.inputField .mdl-textfield{
    width: 100%;
}
.inputField .formButton{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.formButton .forgot{
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
}

@media screen and (max-width: 576px){

}