<div class="mdl-grid mySignIn">
  <div class="myCard mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col-phone mdl-cell--6-col-tablet mdl-cell--5-col-desktop">
    <div class="cardContent" >
      <ng-container *ngIf="!logged; else result" >
        <app-fill-email *ngIf="!emailNamed; else fillEmail" ></app-fill-email>
        <ng-template #fillEmail>
          <app-fill-password [emailFilled] = "Email"></app-fill-password>
        </ng-template>
      </ng-container>
      <ng-template #result>
        <app-home></app-home>
      </ng-template>
    </div>
  </div>
</div>